@import '../../helpers/constants/colors.scss';

.questionnaire {
  text-align: left;

  h1 {
    color: $darkblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: 400;
  }

  &__content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1112px;
    min-height: 100vh;
    padding: 64px 48px 120px;
    position: relative;
  }

  &__main-title {
    margin: 0 0 24px;
  }

  &__input-header-fields {
    display: flex;
  }

  &__input-header-fields &__field {
    display: flex;
    flex-direction: column;
  }

  &__input-header-fields span {
    color: $semideepdarkgray;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-bottom: 9px;
  }

  &__input-header-fields input {
    border: solid 1px $middlegray;
    border-radius: 4px;
    color: $middledarkblue;
    font-size: 15px;
    margin-right: 71px;
    letter-spacing: 0.2px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 288px;
  }

  &__question-title {
    margin: 86px 0 20px;
  }

  &__add-question-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    width: 100%;

    &:hover {
      opacity: 0.6;
    }
  }

  &__add-question-button button {
    background-color: $white;
    border: solid 1.5px $lightblue;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    height: 40px;
    margin: 0 34.5px;
    // margin: 0 24px;
    min-width: 192px;
    outline: none;
  }

  &__add-question-button button p {
    color: $lightblue;
    margin: 0;
  }

  &__activity-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 15px;
    grid-auto-rows: 1fr;
  }

  &__activities-empty {
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='5%2c 10' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    height: 210px;
    justify-content: center;
    opacity: 0.4;
    width: 100%;
    cursor: pointer;
  }

  &__flow-buttons {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin-bottom: 40px;
    position: absolute;
    width: 100%;
  }

  &__flow-buttons button {
    background-color: $gray;
    border: none;
    border-radius: 24px;
    color: $darkblue;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 40px;
    margin: 0 12px;
    min-width: 192px;
  }

  &__flow-buttons button:focus {
    outline: none;
  }

  &__flow-buttons button:hover {
    opacity: 0.7;
  }

  &__flow-buttons button:active {
    background-color: $middlelightgray;
  }

  &__flow-buttons &__button--save-publish {
    background-color: $lightblue;
    color: $white;
  }

  &__flow-buttons &__button--save-publish:active {
    background-color: $lightblue;
    opacity: 0.5;
  }

  &__flow-buttons button:disabled {
    cursor: auto;
    opacity: 0.5;
  }

  &__flow-buttons &__button--save-publish:disabled {
    opacity: 0.2;
  }
}
