@import '../../../helpers/constants/colors.scss';

.sidebar-logout {
    align-items: center;
    bottom: 50px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 40px;
    padding-left: 30px;
    position: absolute;
    
    &__icon {
        color: $verylightgrayMoreOpacity;
    }

    &__username {
        color: $white;
    }
}