@import '../../../helpers/constants/colors.scss';

.question {
  width: 420px;

  &__input {
    color: $softblack;
    border: solid 1px $semitransparentblack;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    margin: auto;
    padding: 10px;
    resize: none;
    width: 100%;

    &--large {
      min-height: 182px;

      @media (max-height: 850px) {
        min-height: 100px;
      }
    }

    &--small {
      min-height: 72px;

      @media (max-height: 850px) {
        min-height: 40px;
      }
    }
  }
}

.subtitle {
  color: $semideepdarkgray;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 48px 0 9px 1px;

  @media (max-height: 850px) {
    margin: 10px 0 9px 1px;
  }
}
