$white: #fff;
$blue: #4285f4;
$black: #000;
$softblack: #252733;
$semitransparentblack: rgba(45, 63, 80, 0.4);

$middledarkblue: #252733;
$darkblue: #2d3f50;
$lightblue: #4168f9;

$semilightblue: #416dfa;
$lightskyblue: #49e1fb;
$semilightskyblue: #46b5fb;

$verylightgray: rgba(255, 255, 255, 0.3);
$verylightgrayMoreOpacity: rgba(255, 255, 255, 0.5);
$lightgray: rgba(45, 63, 80, 0.5);
$gray: #eef1f4;
$semidarkgray: #cccccc;
$darkgray: #c4c4c4;
$semideepdarkgray: #9fa2b4;
$deepdarkgray: #888888;
$middlegray: #c4c4c4;
$middlelightgray: #e0e6eb;

$orange: #fda143;
$lightgreen: #26cf9c;
