$white: #fff;
$pastel: #ddd;
$black: #000;
$lightBlack: #2d3f50;
$lighterLightBlue: rgba(69, 173, 251, 0.1);
$lighterLightBlueWoOpacity: rgb(236,247,255);
$lightblue: #45adfb;
$blue: #4285f4;
$darkblue: #2265e4;
$lightgray: #eaeaea;
$lightgrayWOpacity: rgba(45, 63, 80, 0.5);
$cyan: #49e1fb;
$lightcyan: #edfcff;
$semiblue: #4168f9;
$lightsemiblue: #ecf0ff;
$orange: #fda143;
$lightorange: #fff6ed;
$green: #26cf9c;
$lightgreen: #eafbf6;
