@import "../../../helpers/constants/colors.scss";

.choice-button {
  margin: 0 auto;
  width: 90%;

  &__checkbox {
    height: 18px;
    margin: 15px;
    vertical-align: middle;
    width: 18px;

    &--selected {
      margin: 14px;
    }
  }

  &__input {
    cursor: pointer;
    background-color: white;
    border: solid 1.5px $lightgray;
    border-radius: 40px;
    height: 100%;
    outline: none;
    text-align: left;
    vertical-align: middle;
    width: 90%;
    white-space: normal;
    word-wrap: break-word;

    &:hover {
      @media screen and (min-width: 768px) {
        background-color: $lighterLightBlue;
      }
    }
  }

  &__label {
    pointer-events: none;
  }

  &--selected {
    background-color: $lighterLightBlue;
    border: solid 2px $lightblue;
  }

  &__text {
    color: #2d3f50;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 0 5%;
    vertical-align: middle;
  }
}
