@import '../../../helpers/constants/colors.scss';

.multiple-choice-results-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-row-gap: 25px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.progress-bar-container {
  width: 60%;
}

.progress-bar-description {
  color: $semilightskyblue;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 35%;
}

.multiple-choice-result {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
